/* General setup */

* {
    box-sizing: border-box;
    font-size: 10px;
    font-family: sans-serif;
  }

  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  /* WRITE YOUR CODE BELOW HERE */
  h1,h2 {
    font-size: 3rem;
  }
h1{
    line-height: 80px;
    text-align: center;
    letter-spacing: 3px;
}
h2{
    line-height: 50px;
}
section {
    text-indent: 20px;
  }
  a:link {
    color: blue;
  }
  
  a:visited {

  }
  a[href]:focus,a[href]:hover {
    text-decoration:none;
  }
  li{
    line-height:15px;
  }
  ol {
    list-style-type: upper-alpha;
  }
  nav li {
    list-style: none;
    margin-bottom: 2em;
    line-height:150%;
  }
  
  nav li a {
    border: 1px solid #a66;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-size: 1.5em;
    line-height: 2;
    line-height: 5;
  }
